variable "api_token" {
  type = string
  default = "{{DNS.CLOUDFLARE.API_TOKEN}}"
}

variable "zone" {
  type    = string
  default = "{{DNS.DOMAIN}}"
}

variable "subdomain" {
  type    = string
  default = "{{DNS.SUBDOMAIN}}"
}

variable "ip_address" {
  type    = string
}

