variable "api_token" {
  type = string
  default = "{{CLOUDFLARE.API_TOKEN}}"
}

variable "zone" {
  type    = string
  default = "{{DOMAIN}}"
}

variable "subdomain" {
  type    = string
  default = "{{SUBDOMAIN}}"
}

variable "ip_address" {
  type    = string
}

