---
all:
  children:
    vps:
      hosts:
        ${host}
      vars:
        ansible_connection: ssh
        ansible_host_key_checking: no
        ansible_ssh_retries: 3
        ansible_user: ${user}

