variable "region" {
  type = string
  default = "{{AWS.REGION}}"
}

variable "blueprint_id" {
  type    = string
  default = "{{AWS.BLUEPRINT_ID}}"
}

variable "bundle_id" {
  type    = string
  default = "{{AWS.BUNDLE_ID}}"
}

