variable "region" {
  type = string
  default = "{{VPS.AWS.REGION}}"
}

variable "blueprint_id" {
  type    = string
  default = "{{VPS.AWS.BLUEPRINT_ID}}"
}

variable "bundle_id" {
  type    = string
  default = "{{VPS.AWS.BUNDLE_ID}}"
}

